<h2>Hello there!</h2>

<p>You have asked for reset password request for the email <b>{{ userEmail }}</b></p>

<p>In order to complete the process, please enter the following code in the next step.</p>

<h4>Note: your code is valid for an hour only.</h4>

Your code is <h2>{{ code }}</h2>

<p>Thanks for your time</p>